.button {
  font: inherit;
  cursor: pointer;
  padding: 1rem 2rem;
  border: 1px solid #40005d;
  background-color: #40005d;
  color: white;
  border-radius: 12px;
  margin-right: 1rem;
}

.button:hover,
.new-expense button:active {
  background-color: #9a32ca;
  border-color: #9a32ca;
}

.button.alternative {
  color: #220131;
  border-color: transparent;
  background-color: transparent;
}

.button.alternative:hover,
.new-expense button.alternative:active {
  background-color: #ddb3f8;
}
